<div class="container">
    <div class="card text-white bg-primary my-3">
        <div class="card-header ">
            <h2 class="pl-1">Stats Summary</h2>
        </div>
        <div class="container">
            <div class="row mx-2">
                <div class="col">
                    <div class="card">
                        <div class="card-body text-primary text-center">
                            <h4 class="card-title">Tx</h4>
                            <h5 class="card-text" id="tx-total">XXX</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body text-primary text-center">
                            <h4 class="card-title">Rx</h4>
                            <h5 class="card-text" id="rx-total">XXX</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body text-primary text-center">
                            <h4 class="card-title">Success</h4>
                            <h5 class="card-text" id="success-total">XXX</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body" id="totals-list">
            This is a bunch of crap.
        </div>
    </div>

    {{#each server}}
    <div class="card my-3">
        <div class="card-header ">
            <span class="badge badge-pill" id="{{this.name}}-status"></span>
            <span class="pl-1">{{this.name}} - {{this.host}}</span>
            <span class="pl-2">(Rate: <span id="{{this.name}}-rate"></span>)</span>
        </div>
        <div class="card-body" id="{{this.name}}-stat-list">
        </div>
        <div class="card-body">
            <button data-toggle="modal" data-target="#{{this.name}}-stop-modal" id="{{this.name}}-stop" class="btn btn-danger">
                <i class="fas fa-stop"></i> Stop</button>
            <button data-toggle="modal" data-target="#{{this.name}}-start-modal" id="{{this.name}}-start" class="btn btn-success">
                <i class="fas fa-play"></i> Start</button>
            <button data-toggle="modal" data-target="#{{this.name}}-reset-modal" id="{{this.name}}-reset" class="btn btn-warning">
                <i class="fas fa-sync"></i> Reset</button>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="{{this.name}}-stop-modal" tabindex="-1" role="dialog" aria-labelledby="{{this.name}}-stopLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="{{this.name}}-stopLabel">Do you really want to stop {{this.name}}?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    This action will stop the running traffic on {{this.name}}. Do you want to continue?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <form action="/control/state/{{this.name}}" method="get">
                        <input type="hidden" name="state" value="stop">
                        <button type="submit" class="btn btn-primary">Stop</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="{{this.name}}-start-modal" tabindex="-1" role="dialog" aria-labelledby="{{this.name}}-startLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="{{this.name}}-startLabel">Do you really want to start {{this.name}}?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    This action will start the running traffic on {{this.name}}. Do you want to continue?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <form action="/control/state/{{this.name}}" method="get">
                        <input type="hidden" name="state" value="ute">
                        <button type="submit" class="btn btn-primary">Start</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="{{this.name}}-reset-modal" tabindex="-1" role="dialog" aria-labelledby="{{this.name}}-resetLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="{{this.name}}-resetLabel">Do you really want to reset the stats for {{this.name}}?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>This action will reset ALL of the stats on {{this.name}}.</p>
                    <p>WARNING: THIS ACTION CANNOT BE UNDONE!</p>
                    <p>Are you posivite you want to continue?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <form action="/control/state/{{this.name}}" method="get">
                        <input type="hidden" name="state" value="reset">
                        <button type="submit" class="btn btn-primary">Reset</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>